@use '../variables' as *;

.video-section {
    width: 100%;
    overflow: hidden;

    video, mux-player {
        width: 100%;
        height: auto;
        display: block;
        --controls: none;
        --media-object-fit: cover;
    }
}

// Responsive styles
@media (max-width: 768px) {
    .video-section {
        video, mux-player {
            min-height: 200px;
            object-fit: cover;
        }
    }
}

@media (max-width: 480px) {
    .video-section {
        video, mux-player {
            min-height: 150px;
        }
    }
}
