// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Noto+Sans+Display:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Parisienne&display=swap');

// Typography
$font-family: "Noto Sans", sans-serif;
$font-display: "Noto Sans Display", sans-serif;
$font-accent: "Parisienne", cursive;

// Colors
$bg-light: #f8f6fc;
$text-dark: #1a1a1a;
